<?php require_once('functions.php') ?>
<!DOCTYPE html>
<html>

	<head>

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title><?= show_title() ?></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="<?= $settings['base_url'] ?>/<?= $template_root ?>css/bootstrap.min.css" rel="stylesheet">
		<link href="<?= $settings['base_url'] ?>/<?= $template_root ?>css/font-awesome.min.css" rel="stylesheet">
		<link href="<?= $settings['base_url'] ?>/<?= $template_root ?>css/style.css" rel="stylesheet">
		<link href="<?= $settings['base_url'] ?>/<?= $template_root ?>css/default.css" rel="stylesheet">
		<script src="<?= $settings['base_url'] ?>/<?= $template_root ?>js/jquery.min.js"></script>
		<script src="<?= $settings['base_url'] ?>/<?= $template_root ?>js/bootstrap.min.js"></script>

	</head>

	<body>

		<div class="main">
			<header class="main-header">
				<div class="center div-avatar"><img class="avatar" src="<?= $settings['avatar'] ?>" /></div>
				<h1 class="title">
					<?= $settings['title'] ?>
				</h1>
				<p class="description"><?= $settings['subtitle'] ?></p>
				<a class="nav" href="<?= $settings['base_url'] ?>">Home</a>
			</header>
		</div>
